.pushtx * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit !important;
}

.pushtx ul {
  list-style-position: inside;
}

.pushtx .monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pushtx-spin {
  animation: spin 1s linear infinite;
}

.pushtx-message {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100%;
}

.pushtx-message > :first-child {
  flex-shrink: 0;
}

.pushtx-message > :last-child {
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pushtx-message--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.pushtx-message--info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.pushtx-message--progress {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.pushtx-message--error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.pushtx-message .txid {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875em;
  font-weight: 700;
}

.pushtx-details {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  gap: 0.5rem;
  border: 1px solid #e2e8f0;
}

.pushtx-details table {
  border-collapse: collapse;
  width: 100%;
}

.pushtx-details th {
  text-align: left;
}

.pushtx-details :is(th, td) {
  border-width: 0px;
  padding-block: 0.125rem;
}

.pushtx-details :is(td:first-child, th:first-child) {
  width: 75%;
  max-width: 0px;
}

.pushtx-details :is(td:last-child, th:last-child) {
  text-align: right;
}

.pushtx-details :is(.address, .value) {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.pushtx-details .address {
  display: flex;
  padding-right: 1em;
}

.pushtx-details .address :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pushtx-details .fee {
  text-align: right;
}
